{% extends "base.html" %}


{% block content %}
    <header class="bg-primary text-white p-4">
        <h1 class="text-center">Welcome to Salem Bank</h1>
        
    </header>

    <section class="container mt-4">
        <h2 class="text-center">Explore Our Services</h2>
        <ul class="list-group text-center">
            <li class="list-group-item"><a href="{% url 'account_overview' %}">Account Overview</a></li>
            <li class="list-group-item"><a href="{% url 'deposit' %}">Deposit Money</a></li>
            <li class="list-group-item"><a href="{% url 'withdraw' %}">Withdraw Money</a></li>
        </ul>
    </section><br>
    <nav class="text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a class="btn btn-primary" href="{% url 'login' %}" class="text-white">Login</a></li>
            <li class="list-inline-item"><a class="btn btn-primary" href="{% url 'signup' %}" class="text-white">Sign Up</a></li>
        </ul>
    </nav>
{% endblock %}
